# measure of dispersion part -2

In [1]:
#measure of dispersion 
#variance
age = [23,43,23,56,74,32,68,98,45,32 ]

In [2]:
import numpy as np

In [3]:
mean = np.mean(age)

In [4]:
mean

49.4

In [5]:
var = np.var(age)

In [6]:
var

541.64

In [7]:
std = np.std(age)

In [8]:
std

23.273160507331188

In [9]:
import pandas as pd

In [10]:
data = [[10,12,13] ,[34,23,45] , [32,34,21]]
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [15]:
df = pd.DataFrame(data , columns = ["a" , 'b' , 'c'])

In [16]:
df

    a   b   c
0  10  12  13
1  34  23  45
2  32  34  21

In [17]:
df.var() # column wise

a    177.333333
b    121.000000
c    277.333333
dtype: float64

In [18]:
## row wise 
df.var(axis = 1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64